<?xml version="1.0"?>
<appSettings>
  <clear/>

  <add key="DeveloperBox" value="1" />
  <add key="DeveloperEmail" value="jlf@touchmark.com"/>
  <add key="BaseURL" value="/careers"/>
  <add key="JobFilePath" value="c:\inetpub\NewFiles\jobs\"/>
  <add key="AutoResponseFilePath" value="c:\inetpub\com\careers\"/>
  <add key="EmailServer" value="VMW966"/>
  
  <!-- new default max security update=1000-->
  <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
</appSettings>